aside.menu-ares {
    background-color: var(--bg-dark);
    box-shadow: 2px 0px 10px 0 rgba(0, 0, 0, 0.12),
    2px 0px 15px 0 rgba(0, 0, 0, 0.9)
}

.menu a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 15px;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.menu a:hover {
    background: linear-gradient(135deg, #07a7e3 0%, #32dac3 100%);
}

